<template>
  <a-entity
    :ref="`stripe-${stripe.id}`"
    :a-stripe="aStripeProps"
    :position="
      `${stripe.gui.position.x} ${stripe.gui.position.y} ${stripe.gui.position.z}`
    "
  />
</template>

<script>
import * as tinycolor from 'tinycolor2'
import Ajv from 'ajv'
import { get } from '../../modules/animations/nightrider'
import './a-stripe'

const randomNoRepeats = function(array) {
  let copy = array.slice(0)
  return function() {
    if (copy.length < 1) {
      copy = array.slice(0)
    }
    const index = Math.floor(Math.random() * copy.length)
    const item = copy[index]
    copy.splice(index, 1)
    return item
  }
}
const thoughts = [
  // https://www.reddit.com/r/programming/comments/aazjb/what_are_some_good_funny_and_nerdy_programming/
  'What did you even think?',
  'Do better next time plz:',
  'Code doesn’t compile *lel*',
  'Your code is full of antipatterns!',
  'N00b',
  'Pipe it to/dev/null',
  'Your mom circulates like a public key, servicing more requests than HTTP',
  'I drop punk-ass bitches like a modem drops packets. You write bad code.',
  `Don't worry about it, I'll get someone technical to do it.`,
  'How appropriate! You code like a cow!',
  "You're so lame you could encode mp3's.",
  'Nice code, Swordfish.  ...haha no I was joking',
  'If perl scripts could carry coffee around, I could replace you with a one-liner.',
  'Ever considered a technical consultant position for CSI: New York?',
  'This does not scale!',
  'Well done',
  "Your backspace key just isn't big enough.",
  "You'd make a great CSI VB GUI programmer",
  `\nSELECT COUNT([ID]) FROM [programmers] WHERE [Clue] IS NOT NULL\n
    '(0 row(s) affected)'`,
  "I'll refactor your face.",
  "I've seen this coded better ...(dramatic pause!) in Visual Basic ..(yes, another!) by a 13 year old.",
  "You're so inept you can't even type Hello World without a syntax error.",
  "Please, don't code while on crack.",
  'Better go back to writing HTML, ok?',
  'Is this what they call a rockstar developer these days???',
  'Hm... You seem to be still on junior level, so take your time fixing this:',
  'Let me do it next time, you just gotta fix this and BAM! it works:'
]
const say = randomNoRepeats(thoughts)

const validate = function(schema, data) {
  const ajv = new Ajv()
  const valid = ajv.validate(schema, data)
  if (!valid) {
    ajv.errors.forEach((error) =>
      console.error(
        `Valerie says: ${say()} \nYour ${schema.title}${error.dataPath} ${
          error.message
        }`
      )
    )
  }
  return valid
}

const stripeSchema = {
  title: 'Stripe',
  description: 'Schema for an led stripe',
  type: 'object',
  required: ['id', 'meta', 'specs', 'gui'],
  properties: {
    id: {
      type: 'number'
    },
    meta: {
      type: 'object',
      required: ['title', 'description'],
      properties: {
        title: { type: 'string' },
        description: { type: 'string' }
      }
    },
    specs: {
      type: 'object',
      required: ['ledCount', 'ledsPerMeter', 'ledType'],
      properties: {
        ledCount: { type: 'number' },
        ledsPerMeter: { type: 'number' },
        ledType: { type: 'string' }
      }
    },
    gui: {
      type: 'object',
      required: ['position', 'rotation'],
      properties: {
        position: {
          type: 'object',
          required: ['x', 'y', 'z'],
          properties: {
            x: { type: 'number' },
            y: { type: 'number' },
            z: { type: 'number' }
          }
        },
        rotation: {
          type: 'object',
          required: ['x', 'y', 'z'],
          properties: {
            x: { type: 'number' },
            y: { type: 'number' },
            z: { type: 'number' }
          }
        }
      }
    }
  }
}
export default {
  props: {
    stripe: {
      type: Object,
      required: true,
      default: () => {
        return {
          id: 10922,
          meta: {
            title: 'A stripe',
            description: 'some stripe'
          },
          specs: {
            ledCount: 144,
            ledsPerMeter: 144,
            ledType: 'rgb'
          },
          gui: {
            position: {
              x: 0,
              y: 0,
              z: 0
            },
            rotation: {
              x: 0,
              y: 0,
              z: 0
            }
          }
        }
      },
      /**
       *
       * @param value
       * @returns {boolean}
       */
      validator: (value) => {
        return validate(stripeSchema, value)
      }
    }
  },
  data() {
    return {}
  },
  computed: {
    aStripeProps() {
      return this.prepareAttributesEntity({
        ledCount: this.stripe.specs.ledCount,
        ledsPerMeter: this.stripe.specs.ledsPerMeter,
        id: this.stripe.id
      })
    },
    aFrameComponentReference() {
      return this.$refs[`stripe-${this.stripe.id}`]
    }
  },
  mounted() {
    this.startAnimating()
  },
  methods: {
    generateStripeDataRandomColorBlobs(length, color) {
      const black = tinycolor('#000').toRgbString()
      const colorFormatted = color.toRgb()
      const data = new Array(length).fill(black)
      const pixelAmount = parseInt((Math.random() * length) / 1.5)
      const startPosition = parseInt(Math.random() * length)
      const endPosition =
        startPosition + pixelAmount <= length
          ? startPosition + pixelAmount
          : length
      data.fill(colorFormatted, startPosition, endPosition)
      return data
    },
    updateStripe(payload) {
      if (this.aFrameComponentReference) {
        this.aFrameComponentReference.components['a-stripe'].updateView(payload)
      }
    },

    startAnimating() {
      const N = get({
        length: this.stripe.specs.ledCount,
        color: tinycolor('red')
      })
      setTimeout(() => {
        setInterval(() => {
          requestAnimationFrame(() => {
            this.updateStripe(N.generateStripeData())
          })
        }, 16)
      }, this.stripe.id * 500)
      setInterval(() => {
        //  this.color = tinycolor.random()
        this.color = tinycolor('f00')
      }, 4000)
    },
    prepareAttributesEntity(attributeObject) {
      return Object.keys(attributeObject).reduce((acc, key) => {
        return (acc += `${key}: ${attributeObject[key]};`)
      }, '')
    }
  }
}
</script>
