<template>
  <splitpanes class="parent-splitpanes" horizontal>
    <pane>
      <splitpanes vertical>
        <pane>
          <splitpanes horizontal>
            <pane>
              <span>Rete</span>
            </pane>
            <pane>
              <span>Rete current options</span>
            </pane>
          </splitpanes>
        </pane>
        <pane>
          <span>Preview</span>
        </pane>
      </splitpanes>
    </pane>
    <pane>
      <span>Additional</span>
    </pane>
    <pane class="controller-pane">
      <span>Controller</span>
    </pane>
  </splitpanes>
</template>

<script>
import { Splitpanes, Pane } from 'splitpanes'
import 'splitpanes/dist/splitpanes.css'

export default {
  components: { Splitpanes, Pane }
}
</script>

<style lang="scss">
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
$shadow-size: 12px;

:root {
  --splitpanes__drag-area-size: 20px;
}

.parent-splitpanes {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('~assets/img/bg/dark-asfalt-pattern.jpg');
}

.splitpanes__pane {
  padding-top: $shadow-size;
}

.splitpanes__splitter {
  background-color: transparent;
  min-height: 1px;
  box-shadow: $shadow-size $shadow-size $shadow-size 1px
    rgba(200, 200, 200, 0.5);
  position: relative;
}

.splitpanes__splitter::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  background-color: rgba(200, 200, 200, 0.3);
  opacity: 0;
  z-index: 1;
}

.splitpanes__splitter:hover::before {
  opacity: 1;
}

.splitpanes--vertical > .splitpanes__splitter::before {
  left: calc(var(--splitpanes__drag-area-size) * -1);
  right: calc(var(--splitpanes__drag-area-size) * -1);
  height: 100%;
}

.splitpanes--horizontal > .splitpanes__splitter::before {
  top: calc(var(--splitpanes__drag-area-size) * -1);
  bottom: calc(var(--splitpanes__drag-area-size) * -1);
  width: 100%;
}

.controller-pane {
  background-image: url('~assets/img/bg/black-leather-pattern.jpg');
}
</style>
