<template>
  <div class="stage-wrapper">
    <a-scene
      embedded
      light="defaultLightsEnabled: false"
      fog="type: linear; color: #222"
      stats
    >
      <a-assets>
        <a-mixin
          id="light"
          geometry="primitive: sphere; radius: 1.5"
          material="color: #FFF;"
          light="color: #DDDDFF; distance: 120; intensity: 0.2; type: point"
        />
        <img id="wall-texture" :src="wallTexture">
        <img id="outside-wall-texture" :src="outsideWallTexture">
        <img id="floor-texture" :src="floorTexture">
        <img id="ceiling-texture" :src="ceilingTexture">
      </a-assets>

      <a-plane color="#222" height="100" width="100" rotation="-90 0 0" />

      <rw-room
        :position="`${room.position.x} ${room.position.y} ${room.position.z}`"
        :width="room.size.width"
        :length="room.size.length"
        :height="room.size.height"
        material="color:#fff;src: #wall-texture;repeat: 0.5 0.5"
      >
        <!-- Lights. -->
        <a-light
          :color="color.toRgbString()"
          type="point"
          position="2 2 1"
          rotation="0 0 -90"
          intensity="0.2"
          target="#directionaltarget"
        >
          <a-entity id="directionaltarget" :position="lightPosition" />
        </a-light>

        <rw-wall v-for="(wall, index) in Array(4).length" :key="index">
          {{ wall }}
          <stripe :stripe="testposition" />
        </rw-wall>

        <rw-ceiling
          material="color:#fff;fog: false;src: #ceiling-texture; repeat: 0.5 0.5; roughness: 1; metalness: 0"
        >
          <stripe
            v-for="(stripe, index) in stripesCeiling"
            :key="index"
            :stripe="stripe"
          />
        </rw-ceiling>
        <rw-floor
          material="color:#fff;fog: false;src: #floor-texture; repeat: 0.5 0.5; roughness: 1; metalness: 0"
        />
      </rw-room>
      <rw-room
        :position="
          `${room.position.x - 0.01} ${room.position.y - 0.01} ${room.position
            .z - 0.01}`
        "
        :width="room.size.width + 0.02"
        :length="room.size.length + 0.02"
        :height="room.size.height + 0.02"
        material="shader: flat; color:#111 ;opacity: 0.2; fog: false;"
        outside="true"
      >
        <rw-wall
          v-for="(wall, index) in Array(4)"
          :key="index"
          material="src: #outside-wall-texture;opacity: 0.3;outside: true; repeat: 0.5 0.5"
        >
          {{ wall }}
        </rw-wall>

        <rw-ceiling
          material="src: #outside-wall-texture;opacity: 0.5;outside: true; repeat: 0.5 0.5"
        />
        <rw-floor
          material="color:#fff;fog: false;src: #floor-texture; repeat: 1 1"
        />
      </rw-room>

      <!-- Dim ambient lighting. -->
      <a-light type="ambient" color="#fff" intensity="0.1" />
      <a-sky
        src="https://live.staticflickr.com/65535/49327514962_ba2109dd24_4k.jpg"
        radius="300"
        segments-height="20"
      />

      <a-entity
        camera
        multitouch-look-controls
        wasd-controls="fly: true"
        position="2 1 8"
      />
    </a-scene>
  </div>
</template>

<script>
import * as tinycolor from 'tinycolor2'
import stripe from '../Stripe/Stripe'

import wallTexture from '~/components/Stage/textures/walls.jpg'
import outsideWallTexture from '~/components/Stage/textures/outside-walls.png'
import floorTexture from '~/components/Stage/textures/floor.jpg'
import ceilingTexture from '~/components/Stage/textures/ceiling.jpg'
import './multitouch-look-controls'
import 'aframe-room-component'

export default {
  components: { stripe },
  data() {
    return {
      stripesCeiling: [
        {
          id: 11,
          meta: {
            title: 'A stripe',
            description: 'some stripe'
          },
          specs: {
            ledCount: 500,
            ledsPerMeter: 144,
            ledType: 'rgb'
          },
          gui: {
            position: {
              x: 0.5,
              y: 2.35,
              z: 2
            },
            rotation: {
              x: 0,
              y: 0,
              z: 0
            }
          }
        },
        {
          id: 12,
          meta: {
            title: 'A stripe',
            description: 'some stripe'
          },
          specs: {
            ledCount: 500,
            ledsPerMeter: 144,
            ledType: 'rgb'
          },
          gui: {
            position: {
              x: 0.5,
              y: 2.35,
              z: 3
            },
            rotation: {
              x: 0,
              y: 0,
              z: 0
            }
          }
        },
        {
          id: 13,
          meta: {
            title: 'A stripe',
            description: 'some stripe'
          },
          specs: {
            ledCount: 500,
            ledsPerMeter: 144,
            ledType: 'rgb'
          },
          gui: {
            position: {
              x: 0.5,
              y: 2.35,
              z: 4
            },
            rotation: {
              x: 0,
              y: 0,
              z: 0
            }
          }
        },
        {
          id: 14,
          meta: {
            title: 'A stripe',
            description: 'some stripe'
          },
          specs: {
            ledCount: 500,
            ledsPerMeter: 144,
            ledType: 'rgb'
          },
          gui: {
            position: {
              x: 0.5,
              y: 2.35,
              z: 5
            },
            rotation: {
              x: 0,
              y: 0,
              z: 0
            }
          }
        },
        {
          id: 15,
          meta: {
            title: 'A stripe',
            description: 'some stripe'
          },
          specs: {
            ledCount: 500,
            ledsPerMeter: 144,
            ledType: 'rgb'
          },
          gui: {
            position: {
              x: 0.5,
              y: 2.35,
              z: 5
            },
            rotation: {
              x: 0,
              y: 0,
              z: 0
            }
          }
        },
        {
          id: 16,
          meta: {
            title: 'A stripe',
            description: 'some stripe'
          },
          specs: {
            ledCount: 500,
            ledsPerMeter: 144,
            ledType: 'rgb'
          },
          gui: {
            position: {
              x: 0.5,
              y: 2.35,
              z: 5.5
            },
            rotation: {
              x: 0,
              y: 0,
              z: 0
            }
          }
        }
      ],
      testposition: {
        id: 10,
        meta: {
          title: 'A stripe',
          description: 'some stripe'
        },
        specs: {
          ledCount: 144,
          ledsPerMeter: 144,
          ledType: 'rgb',
          id: 10922
        },
        gui: {
          position: {
            x: 1,
            y: 1,
            z: 0
          },
          rotation: {
            x: 0,
            y: 0,
            z: 0
          }
        }
      },
      color: tinycolor('#f00'),
      wallTexture,
      outsideWallTexture,
      floorTexture,
      ceilingTexture,
      room: {
        position: {
          x: 0,
          y: 0.1,
          z: 0
        },
        size: {
          width: 4,
          length: 6,
          height: 2.4
        }
      }
    }
  },
  computed: {
    lightPosition() {
      return [
        this.room.size.x / 2,
        this.room.size.y / 2,
        this.room.size.z / 2
      ].join(' ')
    },
    wireframeWallPositions() {
      return [
        this.getWallPosition(1, 0, 0),
        this.getWallPosition(1, 1, 1),
        this.getWallPosition(1, 1, 1),
        this.getWallPosition(1, 1, 1)
      ].join(' ')
    }
  },
  methods: {
    getWallPosition(roomX = 0, roomY = 0, roomZ = 0) {
      return [
        this.room.position.x + roomX,
        this.room.position.y + roomY,
        this.room.position.z + roomZ
      ].join(' ')
    },
    prepareAttributesEntity(attributeObject) {
      return Object.keys(attributeObject).reduce((acc, key) => {
        return (acc += `${key}: ${attributeObject[key]};`)
      }, '')
    },
    prepareValuesEntity(attributeObject) {
      return Object.keys(attributeObject).reduce((acc, key) => {
        return (acc += `${attributeObject[key]} `)
      }, '')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.stage-wrapper {
  width: 100%;
  height: 100%;
}

a-scene {
  height: 100%;
  width: 100%;
}
</style>
