<template>
  <div class="x-touch">
    <ul style="overflow-x: auto;">
      <li v-for="(knob, index) in state.layerA.knobs" :key="index">
        <p>{{ knob.turn.title }}</p>
        <input
          v-model="knob.turn.value"
          :min="knob.turn.min"
          :max="knob.turn.max"
          type="number"
        />
        <progress
          :value="knob.turn.value"
          :min="knob.turn.min"
          :max="knob.turn.max"
        />
      </li>
    </ul>
    <ul style="flex-wrap: wrap;">
      <li
        v-for="(button, index) in state.layerA.buttons"
        :key="index"
        style="width: 12%;"
      >
        <input v-model="button.value" type="checkbox">
      </li>
    </ul>
  </div>
</template>
<script>
import { state } from '../../plugins/x-touch/x-touch'
export default {
  data() {
    return {
      state
    }
  }
}
</script>
<style lang="scss" scoped>
.x-touch {
  max-width: 25cm;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  justify-content: space-around;

  li {
    flex-grow: 1;

    &:nth-child(odd) {
      background: #eee;
    }

    > * {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  progress {
    &::-webkit-progress-value,
    &::-webkit-progress-value {
      /* Gradient background with Stripes */
      background-image: -webkit-linear-gradient(
          135deg,
          transparent,
          transparent 33%,
          rgba(0, 0, 0, 0.1) 33%,
          rgba(0, 0, 0, 0.1) 66%,
          transparent 66%
        ),
        -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
        -webkit-linear-gradient(left, darkorange, orangered);
    }
  }

  /* Styling an indeterminate progress bar */

  progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
  }

  /* Styling the determinate progress element */

  progress[value] {
    /* Get rid of the default appearance */
    appearance: none;

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;

    /* Add dimensions */
    width: 100%;

    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;

    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;
    position: relative;
    margin: 0;
  }

  /*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

  progress[value]::-webkit-progress-bar {
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  }

  progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;

    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
  }

  @keyframes animate-stripes {
    100% {
      background-position: -100px 0;
    }
  }

  input {
    position: relative;
    margin: 10px;
    border: none;
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 2;
    font-weight: bold;
  }

  input[type='checkbox'] {
    width: 30px;
    height: 25px;
  }

  input[type='checkbox']::after,
  input[type='checkbox']:checked::after {
    content: ' ';
    box-shadow: inset 0 0 3px 3px rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
  }

  input[type='checkbox']:checked::after {
    box-shadow: 0 1px 6px 3px darkorange;
    background: #af5900;
  }

  /* Let's spice up things little bit by using pseudo elements. */

  progress[value]::-webkit-progress-value::after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 7px;
    right: 7px;
    background-color: white;
    border-radius: 100%;
  }
}
</style>
<style lang="scss">
body {
  font-family: sans-serif;
}
</style>
