<template>
  <div data-layout="default">
    <div style="flex-grow: 1;">
      <nuxt />
    </div>
    <x-touch />
  </div>
</template>

<script>
import XTouch from '../components/XTouch/XTouch'
export default {
  components: {
    XTouch
  },
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>
[data-layout='default'] {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
  flex-direction: column;
}
</style>

<style>
body {
  padding: 0;
  margin: 0;
}
</style>
